/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    /*height: 293px;*/
}
.header__menu {
    margin-top: 80px;
}
.header__links-list {
    margin-left: 55px;
    display: flex;
    gap: 30px;
}
.header__logo {
    margin-top: 90px;
}
.header__logo-image {
    width: 148px;
    min-height: 105px;
}
.header__links-list-item {
    list-style: circle;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.address {
    margin-top: 80px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    font-family: Raleway ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}
.header__address {
    margin-right: 95px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}
.cover {
    margin-top: 95.19px;
    overflow: hidden;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    text-transform: uppercase;
    position: relative;
    background-size: cover;
    background-position: center;
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.cover_text {
    width: 1020px;
    margin: 165px 50px 0px 50px;
    position: relative;
    z-index: 1;
}
.cover__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    text-transform: uppercase;
    color: white;
}

.aligned-text {
    letter-spacing: 25px;
    display: block;
    margin-top: 20px;
}
.aligned-text_center {
    text-align: center;

}

.aligned-text_right {
    text-align: right;
    margin-top: 25px;
}
.cover_description {
    width: 1000px;
    margin: 0 auto;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.cover__description-text {
    width: 637px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    word-spacing: 17px;
    margin-bottom: 18px;
}
.bet-button {
    width: 256px;
    height: 51px;
    opacity: 1;
    border: 1px solid white;
    background-color: transparent;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-bottom: 18px;

}
.lots {
    width: 1052px;
    margin: 0 auto;
    margin-top: 180px;

}
.lots__heading {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 596px;
    padding-left: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.card__title {
    margin-top: 48px;
    position: relative;
    z-index: 1;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: white;
}
.card__title h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: white;
}
.card__text {
    margin-right: 40px;
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
    width: 192px;
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}
.about {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 334px auto;
    width: 1052px;
}
.about__logo {
    margin-left: 70px;
    margin-top: 30px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.container_about_text {
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__title {
    margin-left: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}
.about__text {
    margin-top: 105px;
    margin-left: 47px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 264.57px 163.9px calc(240px + 50px);
    justify-content: space-between;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}
.contacts {
    margin-left: 50px;
    width: 264.57px;
}
.footer__address {
    height: 98px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    margin-bottom: 82px;
}
.footer__menu {
    margin-left: 15px;
    margin-top: 5px;
    text-align: center;
    width: 163.9px;
    list-style: none;
    white-space: nowrap;
}
.footer__menu-list {
    list-style: none;
}
.footer__menu-link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;

}
.footer__social-list {
    display: flex;
    margin-right: 10px;
    list-style: none;
    width: 240px;
    height: 48px;
    justify-content: space-between;
}